{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "semi": false,
    "jsxBracketSameLine": true,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "requirePragma": false,
    "proseWrap": "preserve"
}
